.content {
  text-align: center;
}

.notification {
  font-size: 18px;
  margin-top: 10vh;
}

.des {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;

}

.count {
  margin-left: 15px;
  font-size: 28px;
  color: #f50057;
}

.course-container {
  padding-bottom: 80px;
}

.floating-button {
  z-index: 999;
}
